.titleReview {
    display: flex;
    justify-content: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid;
    padding: 5px;
}

.headerTabel {
    background-color: rgb(183, 183, 184);
}