.page-transition-enter {
  opacity: 0;
  transform: scale(0.9) translateY(50px);
}
.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0) translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.page-transition-exit {
  opacity: 0;
  display: none;
}
.page-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.text-center{
  text-align: center;
}