.titleAdd {
    display: flex;
    justify-content: center;
}

.boxSelect {
    padding-top: 10px;
}

.boxText {
    padding-top: 20px;
}

.button {
    padding-top: 20px;
}

.lognOut {
    position: fixed;
    top: 5px;
    right: 10px;
}

.containerAdd {
    height: 100vh;
    display: flex;
    align-items: center;
}